.demo{
	display: inline-block;
	margin-bottom: 10px;
}

.img_left{
	float: left;
	margin-top: 10px;
}

.img_left img{
	width: 120%;
}

.content_right{
	float: right;
	width: 70%;
	margin-top: -10px;

}